@font-face {
  font-family: "trajan";
  src: url("font/Trajanprobold/TrajanProBold.ttf");
  font-size: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background: url(src/assets/images/battleMap.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
}


/* resize the txt and icon(?)*/
.page-title {
  position: relative;
  top: 10px;
  left: -12px;
  font-family: trajan, sans-serif;
  font-size: 50px;
  font-weight: 100;
  text-align: center;
  height: 2em;

}

.overlay-text {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  z-index: 100;
  color: #ebebeb;
  font-family: trajan, serif;
  cursor: pointer;
}

.overlay-text-small {
  font-size: .3em;
}

.overlay-text.visible {
  display: flex;
  flex-direction: column;
  animation: overlay-grow 500ms forwards;
}

@keyframes overlay-grow {
  from {
    background-color: rgba(0, 0, 0, 0);
    font-size: 0;
  }

  to {
    background-color: rgba(0, 0, 0, .8);
    font-size: 7em;
  }
}

.icon {
  position: relative;
  top: 10px;
  left: 10px;
  width: 60px;
  height: 60px;
}

.game-info {
  font-family: trajan, serif;
  color: #000000;
  font-size: 100;
  text-align: center;
  position: relative;
  top: -10px;
  color: #ebebeb;

}

.first-hp {
  position: relative;
  top: -8px;
  left: 0px;

}

.plus {
  position: relative;
  left: 370px;
  top: -10px;
  top: -7px;
  font-size: larger;

}

.hp-bar {
  opacity: 90%;
  border: #1d4719;
  left: 630px;
  box-sizing: border-box;
  width: 300px;
  height: 30px;
  padding: 10px;
  background: #218f37;
  border-radius: 5px;
  position: relative;
  top: 10px;
  margin: 10px;

}

.hp-text {
  position: relative;
  top: -8px;
  left: -10px;
  color: #ebebeb;
}

.hp {
  position: relative;
  top: -8px;
  left: 5px;
  color: #ebebeb;
}

.gold {
  position: relative;
  left: 1230px;
  top: 50px;
  width: 30px;
  height: 30px;

}

.game-container {
  width: 640px;
  height: 640px;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  perspective: 1000px;
}

.card {
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
  transition: transform .5s;
}

.card:active {
  transform: scale(.97);
  transition: transform .2s;
}

.card flip {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
}

.card.flip {
  transform: rotateY(180deg);
}


@media (max-width: 600px) {
  .game-info {
    position: relative;
    left: -800px;
  }

  .game-container,
  .game-info {
    grid-template-columns: repeat(2, auto);
  }

  .game-info-container {
    flex-direction: column;
    align-items: center;
  }
}

/*.hp-bar  {
  position: relative; left: 118px;
}
.gold {
  position: relative; left: 720px;
}*/